
/* #Media Queries
================================================== */
/* Nice Big Banner and fix when screen gets smaller than 1276 */
@media only screen and (max-width: 1300px) {
  .inner {
    width: 90%;
    padding: 0 5%;
  }

  #bannerText {
    width: 90%;
    float: left;
  }

  #content, #footer {
      width: 60%;
  }

  #sidebar
  {
      width: 32%;
  }
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .inner {
    width: 95%;
    padding: 0 2.5%;
  }

  #bannerText {
    width: 80%;
    float: right;
  }

  #content, #footer {
      width: 55%;
  }

  #sidebar
  {
      width: 37%;
  }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    header {
      margin-top: 0px;
      padding: 10px 0 40px 0;
    }

    #bannerImage {
      margin-top: -5px;;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 765px) {
  header {
    width: 90px;
    position: absolute;
    height: 55px;
    margin-top: 0px;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #bannerText{
    display: none;
  }

  #bannerImage {
    margin: -12px 0 0 2px;
  }

  #bannerImage img {
    width: 80px;
  }

  #nav-trigger span {
    display: block; 
  }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; 
    width: 100%;
  }

  .intro_background {
    padding-top: 0; 
  }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #sidebar {
    float: none;
    width: auto;
    position: relative;
  }

  #content {
    float: none;
    width: 100%;
    position: relative;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #sidebar {
    float: none;
    width: auto;
    position: relative;
  }

  #content {
    float: none;
    width: 100%;
    position: relative;
  }

  .item_box {
      margin-left: -6%;
  }

}

@media only screen and (max-width: 325px) {
  .item_box {
      margin-left: -16%;
  }
}