/* http://emccode.github.io
   v1.0 | 20140907
   License: none (public domain)
*/

/****************************
  COMMON STYLES
****************************/
body {
  background-color: #50535B;
}

h1, h2, h3, h4 {
  font-family: 'Exo', sans-serif;
  padding: 0;
}

h1 {
  font-size: 2.76em;
  font-weight: 700;
}

h2 {
  font-size: 1.76em;
  font-weight: 500;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  margin: 20px 0px 8px;
}

p, td {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-size: .95em;
}

ul {
  margin: 0;
}

a {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-size: .96em;
  color: #3F3F3F;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

a:hover {
  /*color: #32a7e4;*/
  color: #FFFFFF;
}

#content-wrapper {
  padding: 25px 1% 50px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nospace {
  margin: 0;
  padding: 0;
}

/****************************
  STRUCTURE
****************************/
.intro_background {
  width: 100%;
  height: 100%;
  padding-top: 125px;
  background: url('../images/backgrounds/emcworld.png') no-repeat bottom left;
  -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

#parentDiv
{
    position: relative;
    width: 100%;
}

#parentDiv:after
{
    content:"";
    display: table;
    clear: both;
}

#content, #footer {
    padding: 2.5%;
    width: 70%;
    float: left;
}

#content {
  background-color: #DEDEDE;
}

#footer {
  background-color: #50535B;
  color: #E8E8E8;
}


#sidebar
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 26%;
    background-color: #BFBFBF;
    padding: 1.5%;
    float: right;
}

/****************************
  HEADER AND NAVIGATION
****************************/
header {
  position: absolute;
  margin-top: 25px;
  width: 100%;
  height: 100px;
  padding: 10px 0;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 30px 0px #000000;
  -moz-box-shadow: 0px 0px 30px 0px #000000;
  box-shadow: 0px 0px 30px 0px #000000;
  background: #FFFFFF;
}

header h1, header h2 {
  color: #32a7e4;
}

.inner {
  position: relative;
  width: 70%;
  padding: 0 15%;
}

#bannerImage {
  margin-top: -22px;
  width: 10%;
  z-index: 25;
  float: left;
}
#bannerImage img {
  width: 145px;
}

#bannerText {
  width: 80%;
  float: left;
}

nav#nav-main {
  position: absolute;
  width: 70%;
  margin-top: 145px;
  margin-left: 5%;
  z-index: 4;
}

nav#nav-main ul {
  list-style: none;
}

nav#nav-main li {
  display: inline-block; 
  z-index: 15;
  margin-right: .2%;
  margin-top: -25px;
  transition: all .5s ease-in-out;
  color: #E8E8E8;
  padding: 2em 1.3em 0.3em;
  background-color: #707070;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  -webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000;
 }

nav#nav-main li:hover {
  border-bottom: 5px solid #32a7e4;
  transform: translateY(10px);
  -o-transform: translateY(10px); /* Mozilla */
  -moz-transform: translateY(10px); /* Mozilla */
  -ms-transform: translateY(10px); /* IE 9 */
  -webkit-transform: translateY(10px); /* Chrome, Safari, Opera */
}

#nav-trigger span {
  float: right;
  color: #32a7e4;
  display: inline-block;
  padding: 25px 30px;
  cursor: pointer;
  text-transform: uppercase; 
  /*background-color: rgba(50, 50, 50, 1);*/
  background-color: #FFFFFF;
  display: none;
}
#nav-trigger span:after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
  border-left: solid 10px transparent;
  border-top: solid 10px #50535B;
  border-right: solid 10px transparent; 
}

#nav-trigger span.open:after {
  border-left: solid 10px transparent;
  border-top: none;
  border-bottom: solid 10px #50535B;
  border-right: solid 10px transparent; 
}

nav#nav-mobile {
  position: relative;
  display: none; 
}

nav#nav-mobile ul {
  top: 60px;
  display: none;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(50, 50, 50, 1);
  padding: .15em;
  border-radius: 8px;
  transition-duration: .5s; 
  z-index: 4;
}

nav#nav-mobile li {
  display: block;
  margin: 0 2px;
  border-bottom: solid 1px #FFF; 
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  color: #32a7e4;
  font-size: 1.15em;
  transition-duration: .5s;
  padding: 10px 30px; 
}

nav#nav-mobile li:last-child {
  border-bottom: none; 
}

nav#nav-mobile li:hover {
  color: #000;
  background-color: #DEDEDE;
}

/**********************
STYLES
**********************/

.intro_background h2 {
  color: #FFFFFF;
}

/***********************
TAGS
**********************/
.btn {
  background: #32a7e4;
  background-image: -webkit-linear-gradient(top, #32a7e4, #2c95c9);
  background-image: -moz-linear-gradient(top, #32a7e4, #2c95c9);
  background-image: -ms-linear-gradient(top, #32a7e4, #2c95c9);
  background-image: -o-linear-gradient(top, #32a7e4, #2c95c9);
  background-image: linear-gradient(to bottom, #32a7e4, #2c95c9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 15px 7px 15px;
  text-decoration: none;
  display:inline-block;
  margin-bottom: 5px;
  transition-duration: .5s;
}

.btn:hover {
  color: #FFFFFF;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.clearBtn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #32a7e4;
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid #32a7e4 2px;
  opacity: 0.75;
  transition-duration: .5s;
}

.clearBtn:hover {
  background: #ffffff;
  opacity: 1;
}

.clearBtn, .clearBtn a {
  text-decoration: none;
  text-align: center;
  color: #32a7e4;
}

/****************************
  Badges for community stuff
****************************/
.badge {
  font-size: 11.7px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  letter-spacing: -0.25px;
  text-shadow: 0px 1px #000;
}

.badgeLeft {
  padding: 1px 10px 2px 10px;
  border-radius: 3px 0 0 3px;
  background: #555555;
  color: #ffffff;
}

.badgeGithubRight {
  padding: 1px 6px 2px 6px;
  border-radius: 0 3px 3px 0;
  background: #ffffff;
  color: #000;
}

.badgeTwitterRight {
  padding: 1px 6px 2px 6px;
  border-radius: 0 3px 3px 0;
  background: #00aced;
  color: #ffffff;
}

.badgeNewsletterRight {
  padding: 1px 6px 2px 6px;
  border-radius: 0 3px 3px 0;
  background: #517fa4;
  color: #ffffff;
}

.badgeGoogleGroupRight {
  padding: 1px 6px 2px 6px;
  border-radius: 0 3px 3px 0;
  background: #d34937;
  color: #ffffff;
}

/****************************
  BOXES
****************************/
.item_box {
  list-style: none;
}

.item_box li {
  width: 150px;
  height: 250px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1%;
  margin-right: 1%;
  background: #E8E8E8;
  transition: all .5s ease-in-out;
  border: solid 3px #32a7e4;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
}

.item_box li h2 {
  font-size: 0.9em;
  text-align: center;
  border-bottom: solid 2px #32a7e4;
  padding: 5px 0;
  width: 100%;
  transition: all .5s ease-in-out;
  margin-top: 0px;
  background-color: #FFF;
}

.item_box li a {
  color: #000;
  text-decoration: none;
}

.item_bg {
  position: relative; 
  width: 100%; 
  height: 100%;
}

.hover_image {
  display: none;
  position: absolute; 
  top: 31px; 
  width: 100%; 
  height: 219px;
  background-image: url("../images/tooltip/tooltiphoverbg.png");
  /*background-color: rgba(33, 36, 35, 0.8);*/
  transition: all .5s ease-in-out;
}

.item_box li:hover .hover_image {
  display: inline-block;
}

.tooltipHeader {
  width: 100%;
  border-bottom: thick solid #32a7e4;
}

.tooltipHeader h4 {
  margin: 0;
}

.tooltipHref {
  color: #32a7e4;
  transition: all .5s ease-in-out;
}

.tooltipHref:hover {
  color: #2c95c9;
}

.tooltipImage {
  width: 13px;
  margin-right: 3px;
  vertical-align: text-top;
}

.contributorAvatar {
  width: 14px;
  margin-right: 3px;
}

a[title]:hover:after{
content: attr(title);
padding: 8px 12px;
color: #32a7e4;
position: absolute;
left: 50%;
top: 95%;
white-space: nowrap;
z-index: 20;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eeeeee));
background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}