/* http://emccode.github.io
   v1.0 | 20140907
   License: none (public domain)
*/

/****************************
  COMMON STYLES
****************************/
body {
  background-color: #3E3E3E;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: .76em;
  font-weight: 500;
  padding: 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
  padding: 0;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-size: .93em;
  color: #E8E8E8;
}

#content-wrapper {
  padding: 25px 1% 50px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.section_box, .item_box, .profile_box {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/****************************
  HEADER AND NAVIGATION
****************************/
.slicknav_menu {
  display:none;
}

header {
  position: fixed;
  width: 97%;
  height: 67px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  z-index: 10;

  -webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000;

  background: #24C0EB; /* Old browsers */

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header h2 {
  float: left;
  color: #FFF;
  margin: -5px 0 0 1%;
}

.inner {
  position: relative;
  width: 100%;
}

.inner img {
  float: left;
  height: 70px;
  margin-left: 3%;
}

nav#nav-main {
  position: fixed;
  width: 100%;
  margin-top: 75px;
  z-index: 4;
}

nav#nav-main ul {
  list-style: none;
}

nav#nav-main li {
  display: inline-block; 
  margin-right: .2%;
 }

 nav#nav-main li a{
  z-index: 15;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.77em;
  letter-spacing: 1.25px;
  color: #E8E8E8;
  text-decoration: none;
  padding: 2em 1.3em 0.3em;
  background-color: #707070;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  -webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000;
}

nav#nav-main li a:hover {
  border-bottom: 5px solid #24C0EB;
  transform: translateY(10px);
  -o-transform: translateY(10px); /* Mozilla */
  -moz-transform: translateY(10px); /* Mozilla */
  -ms-transform: translateY(10px); /* IE 9 */
  -webkit-transform: translateY(10px); /* Chrome, Safari, Opera */
}

#nav-trigger {
  display: none;
  text-align: right;
  }
  
#nav-trigger span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #24C0EB;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase; 
}
#nav-trigger span:after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
  border-left: solid 10px transparent;
  border-top: solid 10px #fff;
  border-right: solid 10px transparent; 
}

#nav-trigger span.open:after {
  border-left: solid 10px transparent;
  border-top: none;
  border-bottom: solid 10px #fff;
  border-right: solid 10px transparent; 
}

nav#nav-mobile {
  position: relative;
  display: none; 
}

nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #3E3E3E;
  padding: .15em;
  border-radius: 8px;
  transition-duration: .5s; 
}

nav#nav-mobile li {
  display: block;
  padding: 2px 0;
  margin: 0 2px;
  border-bottom: solid 1px #000000; 
}

nav#nav-mobile li:last-child {
  border-bottom: none; 
}

nav#nav-mobile a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: .15em;
  color: #24C0EB;
  text-decoration: none;
  font-size: 1.15em;
  transition-duration: .5s;
  padding: 10px 30px; 
}

nav#nav-mobile a:hover {
  color: #000;
  background-color: rgba(232, 228, 228, 1);
}


/****************************
  BACKGROUNDS
****************************/
.intro_background {
  padding-top: 125px;
  background-image: url('../images/backgrounds/tinytiles.jpg'); 
}

.sample_apps_background {
  background-image: url('../images/backgrounds/dotted.jpg'); 
}

.code_tools_background {
  background-image: url('../images/backgrounds/geometric.jpg'); 
}

.documentation_background {
  background-image: url('../images/backgrounds/denim.jpg'); 
}

.about_background {
  background-image: url('../images/backgrounds/ovals.jpg'); 
}

.team_background {
  background-image: url('../images/backgrounds/woodshop.jpg'); 
}

/****************************
  INTRODUCTION ON PAGE 1
****************************/

.introduction h3 {
  width: 100%;
  color: #E8E8E8;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section_box li {
  width: 25%;
  float: left;
  margin: 10px 2%;
  border-radius: 15px;
  background: #24C0EB;
  transition-duration: .5s;
}

.section_box li h2 {
  font-size: 1em;
  text-align: center;
  background: #E8E8E8;
  padding: 3px 0;
  width: 100%;
  transition: all .5s ease-in-out;

  -webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000;
}

.section_box li a {
  text-decoration: none;
  color: #000;
}

.section_box li:hover h2 {
  color: #E8E8E8;
  background-color: #707070;
}

.section_box li img {
  margin-left: 12.5%;
  margin-right: auto;
  width: 75%;
  transition: all .5s ease-in-out;
} 

.section_box li:nth-child(5n+6) {
    clear: left; 
  }

/****************************
  SAMPLE APPS
****************************/

.item_box li {
  width: 150px;
  height: 250px;
  float: left;
  margin: 10px 1%;
  background: #E8E8E8;
  transition: all .5s ease-in-out;
  border: solid 5px #24C0EB;
  z-index: 1;
}

.item_box li h2 {
  font-size: 0.9em;
  text-align: center;
  border-bottom: solid 5px #24C0EB;
  padding: 5px 0;
  width: 100%;
  transition: all .5s ease-in-out;
  margin-top: -1px;
  background-color: #FFF;

}

.item_box li a {
  color: #000;
  text-decoration: none;
}

.item_bg {
  position: relative; 
  width: 150px; 
  height: 250px;
}

.hover_text {
  display: none;
  position: absolute; 
  top: 34px; 
  width: 100%; 
  height: 218px;
  background-color: rgba(33, 36, 35, 0.8);
  transition: all .5s ease-in-out;
}

.hover_text p {
  margin: 5px;
}

.item_box li:hover .hover_text {
  display: inline-block;
}


.profile_box li {
  width: 125px;
  float: left;
  margin: 0% 5%;
}

.profile_box li h2 {
  font-size: 0.8em;
  text-align: center;
  color: #E8E8E8;
  padding: 3px 0;
  width: 100%;
  transition: all .5s ease-in-out;
}

.profile_box li a {
  text-decoration: none;
  color: #000;
}

.profile_box li img {
  transition: all .5s ease-in-out;
} 

.profile_box li:nth-child(5n+6) {
    clear: left; 
  }

.avatar {
  border-radius: 50%;
  width: 94px;
  float: left;
}

.avatar_icon {
  width: 29px;
  margin: 2px 0px 0px 2px;
  float: right;
}

.profile_box li:hover .avatar_icon {
  transform: translateX(5px);
  -ms-transform: translateX(5px); /* IE 9 */
  -webkit-transform: translateX(5px); /* Chrome, Safari, Opera */
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

