
/* #Media Queries
================================================== */
/* Nice Big Banner and fix when screen gets smaller than 1276 */
@media only screen and (max-width: 1300px) {

}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 765px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .intro_background {
    height: 100vh;
}

  .mainLeft {
    margin: 0;
    width: 60%;
    height: 100%;
    padding: 0% 20%;
  }

  .mainRight {
    margin: 0;
    width: 90%;
    padding: 0% 5%;
    height: 100%;
    float: right;
  }

  #menu li {
    width: 35%;
    margin: 1%;
    padding: 2.5%;
    border: 3px solid #132950;
  }

  #menu li a {
    margin: 0px;
    padding: 0px;
    border: none;
  }

  #content-wrapper {
    padding: 0% 2.5%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  #speakers li {
    margin: 2.5%;
    width: 90%;
  }

  #contact li {
    width: 50%;
    padding: 2.5% 20%;
  }

  .contactRight {
    font-size: 1em;
  }

}

@media only screen and (max-width: 325px) {
  
}